@media (max-width: 660px) {
    /*главный экран начало*/
    .title {
        min-height: 0;
        height: 480px;
    }

    .menu__icon1 {
        width: 30px;
    }

    .menu__icon2 {
        width: 30px;
        margin-top: 5px;
    }

    .menu__icon3 {
        width: 19px;
        margin-top: 5px;
    }

    .wrapper {
        max-width: 290px;
    }

    .menu__icon {
        height: 0;
        display: block;
    }

    .numbers_wrapper {
        display: none;
    }

    .header_info {
        padding-top: 19px;
    }

    .menu {
        display: none;
    }

    .intro_footer {
        display: none;
    }

    .intro {
        margin-top: 67px;
    }

    .intro_title {
        font-size: 18px;
        padding-left: 29px;
    }

    .intro_record_button {
        height: 26px;
        width: 30px;
    }

    .intro_record_text {
        font-family: Geometria;
        font-size: 10px;
        line-height: 12px;
        margin-left: 7px;
        width: auto;
    }

    .intro_logo {
        margin-top: 3px;
    }

    .intro_record {
        margin-left: 58px;
        padding-bottom: 73px;
        margin-top: 15px;
        width: 220px;
    }

    /*главный экран конец*/
    /*стили направления начало*/
    .directions_img {
        display: none;
    }

    .title_common {
        font-size: 18px;
        line-height: 0;
    }

    .directions_content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .directions {
        height: 1100px;
        margin-bottom: 60px;
        width: 100%;
    }

    .directions_content_hatha-yoga,
    .wrapper2_directions_content {
        align-self: center;
    }

    .wrapper2_directions_content {
        width: 247px;
        padding: 0px;
        margin: 0px;
    }

    .directions_content_asatanga-yoga,
    .directions_content_kundalini-yoga {
        width: 100%;
        height: 325px;
    }

    .asatanga-yoga,
    .kundalini-yoga {
        width: 100%;
        height: auto;
    }

    .directions_content_asatanga-yoga_wrapper,
    .directions_content_asatanga-yoga_wrapper {
        width: 100%;
        position: relative;
    }

    .directions_content_asatanga-yoga_info_button,
    .directions_content_asatanga-yoga_info_button {
        height: 123px;
        width: 43px;
        position: absolute;
        margin: 0px;
        padding: 0px;
        right: 0;
        top: 0;
    }

    .directions_content_hatha-yoga_info_title, .directions_content_asatanga-yoga_info_title {
        padding-top: 10px;
        padding-left: 20px;

    }

    .directions_content_info_timetable, .directions_content_asatanga-yoga_info_timetable {
        padding-left: 20px;
        font-size: 10px;
        line-height: 15px;
        width: 140px;
        padding-bottom: 5px;
    }

    .directions_content_info_instructor, .directions_content_asatanga-yoga_info_instructor {
        padding-left: 20px;
        font-size: 10px;
        line-height: 15px;
    }

    .directions_content_hatha-yoga {
        margin-bottom: 30px;
        width: 250px;
    }

    .directions_content_hatha-yoga_info_button {
        height: 115px;
        width: 43px;
    }

    .directions_content_hatha-yoga_info {
        width: 250px;
        height: 115px;
    }

    .directions_content_kundalini-yoga {
        margin-top: 30px;
    }

    .directions_content_see_button {
        display: none;
    }

    /*стили направления конец*/
    /*стили абонементы начало*/
    .wrapper {
        width: 100%;
    }

    .abonements_wrapper {
        width: 100%;
        height: 800px;
    }

    .abonements_period {
        margin-top: 40px;
    }

    .abonements_visit_time_wrapper {
        flex-wrap: wrap;
        margin-top: 35px;
    }

    .abonements_visit_time,
    .abonements_visit_time_unlimited {
        width: 250px;
        height: 200px;
        margin: auto;
    }

    .abonements_visit_time_unlimited {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .abonement_visit_time_morning_title {
        margin-bottom: 0px;
    }

    .abonement_visit_time_title {
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
    }

    .abonement_visit_common_time {
        font-size: 12px;
        line-height: 15px;
    }

    .abonement_visit_time_price {
        font-size: 18px;
        line-height: 20px;
        margin-top: 5px;
    }

    .button-visit_time {
        display: block;
        margin: 15px auto 0;
        width: 150px;
        height: 35px;
    }

    /*стили абонементы конец*/
    /*стили наша команда начало*/
    .our_team {
        margin-top: -50px;
        min-height: 1000px;
    }

    .our_team_team_arrow1 {
        height: 1000px;
        width: 100%;
    }

    .abcolut_wrapper {
        width: 100%;
    }

    .our_team_wrapper {
        flex-wrap: wrap;
        margin-bottom: 50px;
        display: contents;
    }

    .our_team_title {
        padding-bottom: 40px;
    }


    .our_team_info_right {
        margin: 0 auto 50px;
        width: 228px;
    }

    .our_team_info_left {
        position: relative;
    }

    .our_team_info_right_exp {
        margin: 0;
        font-size: 12px;
    }

    .our_team_instructor_fio {
        display: none;
    }

    .our_team_instructor_fio_img {
        max-width: 82px;
        max-height: 82px;
    }

    .our_team_instructor_info {
        margin-top: -82px;
        margin-left: 0;
        height: 82px;
        width: 228px;
    }

    .our_team_instructor_info_left {
        padding-top: 10px;
        margin-left: 97px;
    }

    .our_team_instructor_info_right {
        flex-wrap: wrap;
        width: 30px;
        padding-top: 20px;
        margin: 0px;
        margin-left: 5px;
    }

    .our_team_instructor_info_cont {
        padding: 0;
    }

    .our_team_instructor_info_right_icon {
        margin: 0;
    }

    .icon_intro_tt,
    .icon_intro_vk {
        margin: 0;
        width: 16px;
        height: 16px;
    }

    .our_team_instructor_info_look {
        display: none;
    }

    .our_team-button {
        display: none;
    }

    .our_team_info_right_title {
        display: none;
    }

    .our_team_instructor_fio_last {
        margin: 0 auto 25px;
        width: 228px;
        height: 82px;
    }

    .our_team_numb {
        display: none;
    }

    .our_team_info_paragraphs {
        margin-top: 10px;
        font-size: 12px;
    }

    /*стили наша команда конец*/
    /*стили отзывы начало*/
    .our_team_info_left-button2 {
        display: none;
    }

    .title_common {
        margin-top: 0;
        text-align: center;
    }

    .directions_title {
        margin-bottom: 40px;
        padding: 0;
    }

    .reviews_cards {
        margin-top: 40px;
    }


    .reviews_card_left {
        width: 250px;
        height: 270px;
        margin: auto;
    }

    .reviews_card_right {
        display: none;
    }

    .reviews_card_left_quotes,
    .reviews_card_text_one,
    .reviews_card_text_two {
        margin-left: 15px;
        margin-top: 15px;
    }

    .reviews_card_left_contact {
        margin-left: 15px;
        margin-top: 30px;
    }

    .reviews_card_text_one,
    .reviews_card_text_two {
        font-size: 10px;
        line-height: 15px;
    }

    .reviews_cards_wrap {
        display: flex;
    }

    /*стили отзывы конец*/
    .footer {
        width: 100%;
        margin-top: 130px;

    }

    .footer_wrapper_contacts-right_title {
        font-size: 20px;
        line-height: 27px;
    }

    .footer_wrapper_contacts-right_input-name, .footer_wrapper_contacts-right_input-telephone {
        width: 250px;
    }

    .footer_wrapper_contacts-right_button {
        width: 250px;
    }

    .footer_wrapper_contacts {
        background: url(../img/laptop/йога\футер.jpg) no-repeat center;
        background-size: cover;
        height: 438px;
    }

    .footer_wrapper_info_general {
        flex-direction: column-reverse;
        padding-top: 0;
    }

    .footer_wrapper_contacts-right-our {
        margin: auto;
        width: 275px;
        margin-bottom: 70px;
    }

    .footer_wrapper_contacts-left-our {
        background-color: #8373a1;
        color: #ffffff;
        height: 400px;
    }

    .footer_wrapper_contacts-left, .footer_wrapper_contacts-right {
        padding-left: 35px;
    }

    .footer_wrapper_contacts-right {
        margin-left: 0;
    }

    .footer_wrapper_contacts-left_blok1,
    .footer_wrapper_contacts-center_blok1 {
        margin-top: 75px;
    }

    .footer_wrapper_contacts-left_blok1 {
        margin-top: 50px;
    }

    .footer_wrapper_contacts-left_blok2, .footer_wrapper_contacts-left_blok1, .footer_wrapper_contacts-center_blok1 {
        margin-top: 25px;
    }

    .footer_wrapper_info {
        margin-top: 240px;
        padding-left: 35px;
    }

    .icon_comp {
        display: none;
    }

    .icon_mob {
        display: block;
    }

    .footer_wrapper_contacts-left_blok3 {
        display: none;
    }
}
